.flex {
  display: flex;

  &_row {
    display: flex;
    justify-content: flex-start;

    &-between {
      display: flex;
      justify-content: space-between;
    }

    &-center {
      display: flex;
      justify-content: center;
    }

    &-around {
      display: flex;
      justify-content: space-around;
    }

    &-end {
      display: flex;
      justify-content: flex-end;
    }
  }

  &_column {
    flex-direction: column;

    &-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
